/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
 LAYOUT
/*******************************************/

header {
    padding-bottom: 2.8rem;
}

header nav>ul {
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    float: left;
    padding: 1rem 0;
    padding-left: 1rem;
    margin-top: -1rem;
}

.logo {
    margin-top: -0.5rem;
}

.home {
    margin-left: 6rem;
}

.hlink {
    padding-left: 4rem;
}

.fa-magnifying-glass,
.fa-cart-shopping {
    margin-left: 0.7rem;
}

.booklink {
    margin-left: 9rem;
}

.fa-bars {
    display: none;
}

/* main section */

.main-img {
    background-image: url(https://cdn.glitch.global/5cb52245-afd1-4690-bda1-0a0eee862e4b/salon-header.png?v=1702355317829);
    background-repeat: no-repeat;
    background-position: 95% 3%;
    scale: 38%;
    height: 250vh;
    width: 262.5vw;
    margin-left: -74rem;
    margin-top: -38rem;
}

main h1,
.divide,
.service-a,
.first-visit {
    margin-left: 22rem;
}

main h1 {
    clear: both;
    font-family: 'Cormorant Garamond', serif;
    font-size: 16rem;
    color: white;
    margin-top: -46rem;
}

.divide {
    color: white;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    margin-top: -8rem;
}

.service-a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    background: black;
    margin-top: 5rem;
    padding: 3rem 0;
    padding-left: 5.5rem;
    width: 13%;
}

.first-visit {
    background: black;
    color: white;
    width: 18%;
    font-size: 2.5rem;
    margin-top: 11rem;
    padding: 5rem;
    line-height: 2;
}

.firstspan-1 {
    border-left: solid 8px white;
    padding: 3.2rem 4.5rem;
    margin-left: -4.9rem;
}

.discount {
    font-size: 5.5rem;
}

.first-visit>a {
    color: black;
    background: white;
    padding: 2rem 2.5rem;
    font-size: 2.2rem;
}

.arrows {
    text-decoration: none;
}

.fa-arrow-left,
.fa-arrow-right {
    display: block;
    color: black;
    font-size: 3rem;
    background: white;
    width: 7rem;
    height: 7rem;
    border: 1px white;
    border-radius: 9rem;
    padding-top: 1.7rem;
    padding-left: 1.9rem;

}

.fa-arrow-left {
    margin-left: 211rem;
    margin-top: -38rem;
}

.fa-arrow-right {
    margin-left: 220rem;
    margin-top: -7rem;
}

.sideways {
    display: block;
    font-family: 'Alegreya', serif;
    color: white;
    font-size: 3rem;
    margin-left: 205rem;
    margin-top: -52rem;
    transform: rotate(90deg);
    width: 46rem;
    letter-spacing: 0.3rem;
}

/* services section */

.services {
    margin-top: -24rem;
    margin-left: 2rem;
}

.person,
.chair,
.cream {
    float: left;
    width: 28%;
}

.person h5,
.chair h5,
.cream h5 {
    font-family: 'Alegreya', serif;
    font-size: 1.2rem;
    margin-left: -2.3rem;
}

.person img,
.chair img,
.cream img {
    scale: 1.4;
}

.person {
    margin-left: 18rem;
}

.chair,
.cream {
    margin-left: -3rem;
}

.services p {
    width: 78%;
    text-align: center;
    margin-left: -5.5rem;
    margin-top: -0.8rem;
    padding-bottom: 5rem;
}

/* momentum section */
.momentum {
    padding-top: 3rem;
    clear: both;
    background: rgb(235, 230, 230);
    height: 65vh;
}

.myom,
.video {
    float: left;
    width: 40%;
    margin-top: 2rem;
}

.myom {
    margin-left: 8rem;
}

.myom h3 {
    font-family: 'Alegreya', serif;
    font-size: 3rem;
    margin-top: -0.1rem;
    width: 68%;
}

.myom p {
    width: 68%;
    line-height: 1.6rem;
}

.myom a {
    display: block;
    font-family: 'Alegreya', serif;
    text-decoration: none;
    color: white;
    background: black;
    padding: 1rem 2.5rem;
    margin-top: 2rem;
    width: 32%;
}

.video {
    scale: 85%;
    margin-top: 1rem;
}

/* intro section */

.intros {
    clear: both;
}

.alita,
.ayesha,
.smith {
    float: left;
    width: 33.33%;
    margin-top: 3rem;
}

.alita-photo,
.ayesha-photo {
    scale: 0.8;
    margin-left: 9rem;
}

.ayesha-photo,
.smith-photo {
    margin-left: -0.90rem;
}

.smith-photo {
    scale: 0.7;
    margin-top: -2.5rem;
    margin-left: -12rem;
    height: 35rem;
    width: 25.5rem;
}

.label {
    font-family: 'Alegreya', serif;
    color: white;
    background: black;
    width: 45%;
    text-align: center;
}

.label h5 {
    padding-top: 0.8rem;
    font-size: 1rem;
}

.label span {
    display: block;
    font-size: 0.7rem;
    margin-top: -0.9rem;
    padding-bottom: 1rem;
}

.alita-label {
    margin-left: 13rem;
    margin-top: -5rem;
}

.ayesha-label {
    margin-left: 3.5rem;
    margin-top: -5rem;
}

.smith-label {
    margin-left: -5.6rem;
    margin-top: -7.3rem;
}

/* color day offer */

.cdo {
    margin-left: 13rem;
}

.cdo img {
    background-repeat: no-repeat;
    height: 47vh;
    width: 55rem;
    margin-top: 4rem;
}

.cdo-info {
    margin-left: 3rem;
}

.cdo-h4 {
    margin-top: -18rem;
}

.discount10 {
    font-size: 2.3rem;
}

.cdo>h2 {
    padding-bottom: 1rem;
}

.cdo-book {
    text-decoration: none;
    background: black;
    color: white;
    font-size: 0.8rem;
    padding: 0.8rem 1.5rem;
}

/* lookbook section */
.lookbook {
    margin-left: 13rem;
}

.lookbook h2 {
    font-family: 'Alegreya', serif;
    font-size: 2rem;
    padding-top: 12rem;
    margin-left: 16rem;
}

hr {
    width: 2%;
    border: 1.8px solid black;
    margin-left: 22rem;
}

.lookbook img {
    padding-top: 2rem;
}

/* media query */

@media screen and (min-width: 414px) and (max-width: 500px) {
    .hide {
        display: none;
    }

    .fa-bars {
        clear: both;
        display: block;
        scale: 4;
        padding-top: 1rem;
        margin-top: -4.5rem;
    }

    .logo {
        display: block;
        scale: 3.5;
        margin-left: 30rem;
        padding-top: 1rem;

    }

    /* main section */
    .main-img {
        margin: 0;
        margin-left: -55.5rem;
        margin-top: -33rem;
        width: 692%;
        height: 225vh;
    }

    .service-a {
        width: 18%;
    }

    .first-visit {
        width: 25%;
    }

    .services {
        margin-top: -25rem;
        margin-left: 0;
        clear: both;
    }

    .services p {
        width: 90%;
        margin-left: -2.5rem;
    }

    .person,
    .chair,
    .cream {
        width: 100%;
    }

    .person img,
    .chair img,
    .cream img {
        scale: 1.7;
    }

    .person h5,
    .chair h5,
    .cream h5 {
        font-size: 1.4rem;
    }

    .person {
        margin-left: 13rem;
    }

    .person p {
        width: 45%;
    }


    .chair {
        margin-left: 15.8rem;
        margin-top: -21rem;
        padding-left: 15rem;
    }

    .chair p {
        text-align: center;
        width: 100%;
        padding: 0;
    }

    .cream {
        margin-left: 49.5rem;
        margin-top: -21rem;
    }

    .cream p {
        width: 45%;
    }

    /* momentum section */

    .momentum {
        height: 55vh;
        width: 280vw;
    }

    .myom h3 {
        font-size: 2.5rem;
    }

    .myom p {
        width: 75%;
    }

    .myom a {
        widtH: 38%;
    }

    .video {
        scale: 103%;
        margin-top: 1.3rem;
    }

    /* intro section */
    .alita,
    .ayesha,
    .smith {
        scale: 0.9;
        clear: both;
    }

    .alita {
        scale: 0.9;
        margin-left: -2rem;
    }

    .alita-label,
    .ayesha-label,
    .smith-label {
        width: 165%;
    }

    .ayesha {
        scale: 0.9;
        margin-left: 26rem;
        margin-top: -31.4rem;
    }

    .smith {
        scale: 0.9;
        margin-left: 54rem;
        margin-top: -31.3rem;
    }

    .smith-label {
        margin-left: -6rem;
    }

    /* color day offer section */

    .cdo {
        padding-top: 4rem;
        height: 180vh;
    }

    .cdo-info {
        margin-top: 1rem;
        margin-left: 3rem;
    }

    .cdo-h4 {
        display: block;
        margin-top: -20rem;
        margin-left: 2rem;
    }

    .cdo-book {
        padding: 0.8rem 1.4rem;
        margin-left: -2rem;
        font-size: 1rem;

    }

    /* lookbook section */

    .lookbook {
        height: 250vh;
        width: 100%;
    }

    .lookbook h2 {
        font-size: 2.4rem;
        margin-top: -29rem;
        width: 100%;
        padding: 0;
    }

    hr {
        margin-left: 24rem;
    }

    .lookbook img {
        scale: 1.2;
        margin-left: 4.2rem;
    }


}