/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
  /* LAYOUT
  /*******************************************/

body {
  background-image: url(/harry-potter/img/magic.jpg);
  background-position: 22% 18%;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-container {
  position: relative;
  top: 1rem;
  width: 80dvw;
  height: 18dvh;
  margin: 0 auto;
  margin-top: 1rem;
  text-align: center;
  background-color: transparent;
  border: 2px solid white;
}

.intro-text {
  position: relative;
  top: -0.8rem;
  width: 98%;
  height: 85%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
}

h1 {
  position: relative;
  top: 0.9rem;
  font-size: 1rem;
}

.intro-text p {
  margin-top: -0.1rem;
  padding-bottom: 0.4rem;
  font-size: 1.5rem;
}

/* crests */

.house-container {
  position: relative;
  /* top: 5rem; */
  text-align: center;
}

.originalCrestPosition {
  top: 5rem;
}

.crest {
  transform: scale(0.7);
  margin-left: -2.5rem;
}

.crest:hover {
  cursor: pointer;
}

.columnCrests {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* character container (div) */
.character-container {
  position: absolute;
  margin: 0 auto;
  left: 10%;
  top: 23.5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 70dvh;
  width: 80dvw;
  background-color: pink;
}


/* bg img: https://unsplash.com/photos/cards-and-candle-on-black-background-6uSUUyjTwSM */