/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
    box-sizing: border-box;
}

/******************************************
  /* LAYOUT
  /*******************************************/
img {
    display: block;
    margin: 0 auto;
    height: 215px;
    border-radius: 45%;
}

body {
    display: flex;
    align-items: center;
    background-image: url('/cocktail-database/jakub-dziubak-drink.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% 35.5%;
}

.drink-intro {
    position: relative;
    top: 12rem;
    left: 22rem;
    width: 100%;
    height: 18rem;
    text-align: center;
    font-family: "Source Code Pro", monospace
}

.intro-container {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.instructions {
    position: absolute;
    width: 50rem;
    height: 20rem;
    margin: -1.8rem 0 0 -3rem;
    backface-visibility: hidden;
    background-color: rgba(153, 161, 88, 78%)
}

.instructions p {
    margin-top: -0.8rem;
    padding-bottom: 0.5rem;
    font-size: 1.4rem;
    text-shadow: rgb(54, 41, 30) 0.3px 0 0.1px;
}

.instructions input,
.search-input {
    background-color: palegoldenrod;
    border: white;
    text-align: center;
    height: 1.7rem;
}

.search-button {
    background-color: rgb(75, 79, 43);
    border: rgb(153, 161, 88);
    color: white;
    height: 1.8rem;
    font-size: 1.1rem;
}

.search-button:hover {
    cursor: pointer;
}

.project-name {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.project-name hr {
    border: 3px double palegoldenrod;
}

.drink-intro h1 {
    font-size: 3.5rem;
    font-family: "Playfair Display", serif;
    font-style: italic;
    letter-spacing: 0.2rem;
    color: palegoldenrod;
    background-color: rgba(153, 161, 88, 95%);
    text-shadow: rgb(54, 41, 30) 2px 0 10px;
}

.img-arrows {
    display: flex;
}

.ph-light {
    margin-top: 10%;
    font-size: 3.3rem;
    color: rgb(75, 79, 43);
    visibility: hidden;
}

.ph-light:hover {
    cursor: pointer;
}

.ph-arrow-circle-left {
    margin-left: 25%;
}

.ph-arrow-circle-right {
    margin-right: 25%;
}


/* drink information  */

.drink-info {
    display: flex;
    flex-direction: column;
    width: 125rem;
    height: 48rem;
    position: relative;
    left: -22rem;
    top: -1rem;
    margin: 3% 0 0 5%;
    text-align: center;
    border: 2px solid #DDDBD7;
    background-color: rgba(174, 163, 142, 1);
    visibility: hidden;
    border: 12px double rgba(0, 0, 0, 0.6)
}

.recipe-row {
    display: flex;
    justify-content: space-around;
}

#drink-name {
    font-family: "Playfair Display", serif;
    letter-spacing: 0.3rem;
    margin-top: 2rem;
}

.instructions-container,
.ingredients-container {
    font-family: "Source Code Pro", monospace;
    text-align: center;
    width: 50%;
    padding-top: 0.3rem;
}

.ingredients-container {
    width: 38%;
}

.lengthen {
    height: 37rem;
    top: 5rem;
}

.search-input {
    margin-top: 6rem;
}

/* MEDIA QUERIES */


/******************************************
  /* ADDITIONAL STYLES / NOTES
  /*******************************************/

/* img credit: https://unsplash.com/photos/brown-beverage-with-olives-and-herb-in-rocks-glass-in-macro-photography-gj7BLlSzIFs */