/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
  LAYOUT
/*******************************************/

/* nav bar */

.hamburger {
    display: none;
}

header h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    color: #3D5064;
    margin-top: 1.1rem;
    margin-left: 3rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    float: left;
    padding-left: 1rem;
    padding-bottom: 2rem;
    margin-top: -2.7rem;
    margin-right: 1rem;
}

nav ul li a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #3D5064;
}

.first-link {
    margin-left: 23rem;
}

.button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700px;
    color: white;
    background: #3D5064;
    padding: 8px 20px;
    margin-left: 30rem;
}

/* main section */

main {
    clear: both;
    float: left;
    margin-left: 10rem;
}

.tagline {
    font-family: 'Open Sans', sans-serif;
    color: #84949C;
    display: block;
    margin-top: 7rem;
}

main h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    color: #3D5064;
    width: 40%;
}

input[type="search"] {
    width: 44%;
}

input[placeholder] {
    font-family: 'Open Sans', sans-serif;
    padding: 1.8% 2%;
    background: #E9F0F2;
    border: none;
}

.button-2 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: #3D5064;
    padding: 1.6% 3.5%;
    border: none;
}

form>a {
    text-decoration: none;
}

main p {
    font-family: 'Open Sans', sans-serif;
    color: #3D5064;
    font-size: 15px;
    width: 47%;
}

.laptop {
    float: right;
    margin-top: -27rem;
}

/* features section */
.icons {
    clear: both;
}

.feature1,
.feature2,
.feature3,
.feature4 {
    font-family: 'Open Sans', sans-serif;
    float: left;
}

.feature1 {
    margin-left: 10rem;
}

.f1 {
    margin-top: 4rem;
}

.feature1 h5 {
    font-size: 1.1rem;
    margin-top: 2rem;
}

.feature1 p {
    width: 39%;
    margin-top: -1rem;
}

.feature2 {
    margin-left: -20rem;
    margin-top: 3rem;
}

.f2 {
    margin-top: 1rem;
}

.feature2 h5 {
    font-size: 1.1rem;
    margin-top: 1.9rem;
}

.feature2 p {
    margin-top: -1rem;
    width: 42%;
}

.feature3 {
    margin-left: 52rem;
    margin-top: -13rem;
}

.feature3 h5 {
    font-size: 1.1rem;
    margin-top: 1.3rem;
}

.feature3 p {
    margin-top: -1rem;
    width: 41%;
}

.feature4 {
    margin-top: -10rem;
    margin-left: 7rem;
}

.f4 {
    overflow: hidden;
    margin-left: 65.3rem;
    margin-top: -16rem;
    padding-bottom: 2rem;
}

.feature4 h5 {
    font-size: 1.1rem;
    margin-top: -1rem;
    margin-left: 65.3rem;
}

.feature4 p {
    float: right;
    width: 19%;
    margin-left: 50.3rem;
    margin-top: -0.9rem;
}

.feature4 a {
    margin-left: 65.8rem;
}

/* bottom section */
.collection {
    clear: both;
    margin-left: 9.7rem;
}

.collection h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700px;
    color: #3D5064;
    font-size: 38px;
    padding-top: 4rem;
    width: 36%;
}

.collection p {
    font-family: 'Open Sans', sans-serif;
    width: 38%;
    color: #84949C;
}

/* mobile media queries */
@media screen and (min-width: 375px) and (max-width: 400px) {

    nav ul li {
        display: none;
    }

    .hamburger {
        display: block;
        padding-left: 1rem;
        margin-top: 2rem;
        scale: 1.3;
    }

    nav h3 {
        font-size: 2.2rem;
        padding-left: 5.8rem;
        padding-bottom: -2rem;
        margin-top: -3rem;
    }

    header {
        border-bottom: 1px solid lightgray;
    }

    /* tagline to laptop img */
    .tagline {
        margin-top: 3rem;
    }

    .tagline,
    main h1 {
        margin-left: -9rem;
    }

    main h1 {
        font-size: 2.3rem;
        width: 100vw;
        padding-right: 2rem;
    }

    input[type="search"] {
        width: 100%;
        margin-left: -9rem;
    }

    input[placeholder] {
        font-size: 1rem;
        display: block;
        width: 138%;
        padding: 1rem 0.8rem;
    }

    .button-2 {
        font-size: 1.3rem;
        display: block;
        margin-left: -9rem;
        margin-top: 1.2rem;
        padding: 0.7rem 7.5rem;
        width: 138%;
    }

    main p {
        font-size: 1.1rem;
        margin-left: -9rem;
        width: 165%;
        padding-right: 3rem;
    }

    .laptop {
        scale: 60%;
        margin-top: -3rem;
        margin-right: -8rem;
    }

    /* features */

    .icons {
        clear: both;
    }

    .f1 {
        margin-top: -4rem;
    }

    .feature1 h5,
    .feature2 h5,
    .feature3 h5 {
        margin-left: -2rem;
        margin-top: 1rem;
    }

    .feature1 p,
    .feature2 p {
        margin-left: -6.5rem;
        width: 150%;
    }

    .feature1 a,
    .feature2 a,
    .feature3 a {
        margin-left: -1rem;
    }

    .feature2 {
        margin-left: 10.2rem;
        padding: 0;
    }

    .feature2 p {
        padding: 0 1rem;
    }

    .feature3 {
        margin-left: 10.2rem;
        margin-top: 3rem;
        padding: 0;
    }

    .feature3 p {
        margin-left: -5rem;
        width: 120%;
    }

    .feature3 a {
        margin-top: -0.8rem;
    }

    .feature4 {
        clear: both;
        margin-left: -245%;
        margin-top: 5rem;
    }

    .f4 {
        margin-top: -1rem;
    }

    .feature4 h5 {
        margin-left: 82%;
    }

    .feature4 p {
        padding: 0 1.5rem;
        padding-left: 2.1rem;
        width: 25%;
    }

    .feature4 a {
        margin-left: 83%;
    }

    /* collection section */

    .collection {
        margin-left: 5rem;
    }

    .collection h2,
    .collection p {
        width: 85%;
    }


}